<div class="wish">
<div class="container" *ngIf="eMsg">
    <div class="row">
        <div class="col text-center mt-5">
            <img src="https://cdn-icons-png.flaticon.com/512/2037/2037366.png" height="250" width="250" alt="">
            <h2 class="mt-3" >Wishlist Empty</h2>
            <button routerLink="/" class=" mt-3 btn btn-primary">Shop Now</button>
        </div>
    </div>
</div>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let products of wishlist">
                <div class="card h-100 align-items-center">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="products.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{products.title}}</h5>
                            <!-- Product price-->
                           {{products.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button class="btn btn-outline-danger me-4" (click)="deletewish(products)"><i class="fa fa-trash"></i></button>
                            <button class="btn btn-outline-success mt-auto" (click)="addtocart(products)"><i class="fa fa-cart-plus"></i></button>
                        </div>
                       

                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
